/* CSS declarations go here */

/* https://coolors.co/app/e54250-f2f2f2-b1d8db-4a7c9e-1f3456 */

body {
  background-color: #f2f2f2;
}

/*--- HEADER ---*/

header {
}

.siteTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 2.25em;
  letter-spacing: 0.6em;
  color: #f2f2f2;
  margin-top: 1em;
  margin-left: -4em;
}

@media (max-width: 600px) {
  .siteTitle {
    font-size: 2em;
    margin-top: 1.15em;
    margin-left: 0em;
  }
}

@media (max-width: 320px) {
  .siteTitle {
    margin-top: 1.17em;
    margin-left: 1.25em;
  }
}

.colorbg {
}

.BGred {
  position: fixed;
  height: 275px;
  background-color: #e54250;
  width: 120%;
  top: -175px;
  left: -50px;
  transform: rotate(-6deg);
  z-index: -5;
}

/*--- SIDEMENU ---*/

.side-nav {
  line-height: 1.4em !important;
}

.button-collapse {
  position: fixed;
  top: 24px;
  margin-left: 14px;
  padding-left: 2px;
  font-size: 32px;
  color: #f2f2f2;
  z-index: 5;
}

@media (min-width: 992px) {
  .button-collapse {
    display: none;
  }
}

nav p {
  color: black;
}

/*--- CONTENT ---*/

.content {
  padding-left: 300px;
}

@media (max-width: 992px) {
  .content {
    padding-left: 0px;
  }
}
