<!-- Slack login button -->
<a href="https://slack.com/oauth/authorize?scope=identity.basic,identity.team&client_id=3632165516.72550204660&redirect_uri=http%3A%2F%2Flocalhost%3A8081%2Flogin%2Fcallback"><img alt="Sign in with Slack" height="40" width="172" src="https://platform.slack-edge.com/img/sign_in_with_slack.png" srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" /></a>
