{{#if menu}}
  <div class="row">
    <div class="col s12">
      <ul id="nav" class="card">
        {{#each menu.x}}
          <li>
            <a class="navlink" href='{{this.url}}'>{{this.title}}</a>
          <ul>
          {{#each this.y}}
            <li>
              <a class="navlink" href='{{this.url}}'>{{this.title}}</a>
            </li>
          {{/each}}
        </li>
        </ul>
        {{/each}}
      </ul>
    </div>
  </div>
{{/if}}
