{{> menu}}
<h1>Blogeinträge</h1>
{{#if data.posts}}
  {{#each data.posts}}
    <h1>{{this.title}}</h1>
    <p>{{this.content}}</p>
    <p>Post written by {{this.author}}</p>
    <hr>
  {{/each}}
{{/if}}
