{{> menu}}
<h1>Blogeinträge</h1>
{{#if data.posts}}
  {{#each data.posts}}
  <div class="col s12 m7 l6">
    <div class="card">
    <h1>{{this.title}}</h1>
    <p>{{{this.content}}}</p>
    <h3>Post written by {{this.author}}</h3>
  </div>
</div>
  {{/each}}
{{/if}}
