<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Chaostreff Flensburg e.V. - Hackerspace & Makerplace</title>
    <meta name="description" content="Flensburgs Hackerspace und Verein zur Förderung der Hackerkultur.">
    <meta name="keywords" content="Chaostreff, Flensburg, chaostreff-flensburg, foerdefunk, fördefunk,
    3d-Druck, Hacken, Hacker, Kultur, Bildung, Lasercutter, Laser, Netzwerk, Siebdruck, ccc, Chaos Computer Club, Makerspace, FabLab">

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link rel="stylesheet" href="/css/main.css" charset="utf-8">
    <link rel="stylesheet" href="/css/grid.css" charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Merriweather:300,300i,400,400i,700,700i" rel="stylesheet">

    <!--
    <link rel="icon" sizes="192x192" href="highres-favicon.png?v=3">
    <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico?v=3">
    -->

    <meta name="theme-color" content="#ffffff">

    <!-- Twitter-Card -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@chaos_fl" />
    <meta name="twitter:title" content="Chaostreff Flensburg e.V." />
    <meta name="twitter:description" content="Flensburgs Hackerspace und Verein zur Förderung der Hackerkultur." />
    <meta name="twitter:image" content="https://raw.githubusercontent.com/chaostreff-flensburg/blog/gh-pages/images/ctfl-logo.jpg" />

  </head>
  <body>

    <header>
      <img src="/img/logo.svg" class="logo" alt="Chaostreff Flensburg e.V. Logo" />
    </header>

    <nav class="card">
      <a href="#" class="navlink">Home</a>
      <a href="#" class="navlink">Blog</a>
      <a href="#" class="navlink">Events</a>
    </nav>

    <div class="card">
      <h2>I am a card.</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <p class="amatic">
        Was los digga Amatic SC. Wir packen cursive wieder auf die Karte.
      </p>
      <a href="#" class="button">I am a Button.</a>
      <a href="#" class="button c">I am a Button.</a>
      <a href="#" class="button m">I am a Button.</a>
      <a href="#" class="button y">I am a Button.</a>
    </div>
    
  </body>
</html>
