/* backend.css */

/* === BACKENDNAVBAR ===*/

.backendNavbar {
  background-color: #272726;
  width: 100vw;
  height: 58px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.backendNavbar a {
  color: white;
  text-decoration: none;
  font-size: 28px;
  margin-left: 20px;
}

.backendNavbar a i {
  color: white;
}
