/* main.css */

/* === CSS RESET === */

html, body, div, span, applet, object, iframe, abbr, acronym, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style-position: inside;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a:focus, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}

/* === MAIN TAGS ===*/

body {
  background-image: url("/img/bg.png");
  background-repeat: repeat;
  background-color: #f9f9f9;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Amatic SC', cursive !important;
  color: #272726;
}

h1 {
  font-size: 4em;
}

h2 {
  margin-top: 0.25em;
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

p, span, a, b, i {
  font-family: 'Merriweather', serif;
  color: #272726;
}

p, span, a, i {
  font-weight: 300;
}

/* === ELEMENTS ===*/

.card {
  background-color: #fefefe;
  padding: 1em;
  margin: 1em;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

.amatic {
  font-family: 'Amatic SC', cursive;
  font-size: 1.75em;
}

.button {
  font-family: 'Amatic SC', cursive;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  background-color: #272726;
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 5px;
}

.c {
  background-color: #009fe3 !important;
}
.m {
  background-color: #e6007e !important;
}
.y {
  background-color: #ffed00 !important;
}

/* === HEADER ===*/

.logo {
  max-width: 480px;
}
