<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>rakede</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link rel="stylesheet" href="/css/main.css" charset="utf-8">
    <link rel="stylesheet" href="/css/grid.css" charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Merriweather:300,300i,400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <!--
    <link rel="icon" sizes="192x192" href="highres-favicon.png?v=3">
    <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico?v=3">
    -->

    <meta name="theme-color" content="#ffffff">

  </head>
  <body>

    <div class="backendNavbar">
      <a href="rakede/blog"><i class="material-icons">dashboard</i> Übersicht</a>
      <a href="rakede/blog"><i class="material-icons">create</i> Blog</a>
      <a href="rakede/blog"><i class="material-icons">event</i> Events</a>
      <a href="rakede/blog"><i class="material-icons">web</i> Seiten</a>
      <a href="rakede/blog"><i class="material-icons">power_input</i> Menü</a>
    </div>

    {{{body}}}
  </body>
</html>
