<div class="card">
  <h2>Übersicht</h2>
  <a class="button" href="/rakede/newPost">Create Blogpost</a>
  <a class="button c" href="/rakede/newEvent">Create Event</a>
  <a class="button m" href="/rakede/newSite">Create Site</a>
</div>
