<h1>Create new Event</h1>

<form method="post">
  <textarea name="title" rows="1" cols="50">Eventtitle</textarea>
  <!-- workaround because firefox doesnt support input type="date" -->
  <br>
  Time:
  <input type="number" name="hour" min="0" max="23" step="1" value="13">:
  <input type="number" name="minute" min="0" max="59" step="1" value="37">
  Date:
  <input type="number" name="day" min="1" max="31" step="1" value="27">.
  <input type="number" name="month" min="1" max="12" step="1" value="5">.
  <input type="number" name="year" min="2016" max="2037" step="1" value="2016">
  <!-- echt jetzt?! -->
  maxParticipants:
  <input type="number" name="maxParticipants" min="0" max="999" step="1" value="10">
  <textarea name="content" id="content">This is a TinyMCE-Editor. Nice.</textarea>
  <input type="submit" name="submit" value="Save">
</form>

<script src="/js/tinymce/tinymce.min.js"></script>
<script>
tinymce.init({
  selector: '#content',
  plugins: "anchor autosave autoresize code image link media paste wordcount",
  menubar: "insert tools image imagetools"
});
</script>
